<a [routerLink]="['/']">
	<h1>Let's Rank Some Games</h1>
</a>

<ng-template [ngIf]="true">
	<a [routerLink]="['/']">
		<h3>{{ rankedGamesCount() }}</h3>
	</a>
</ng-template>

<div>
	<a class="button fancy-button" [routerLink]="['/import']">
		<i class="material-icons">cloud_download</i>
		<div class="nav-text">Import from BGG User Collection</div>
	</a>
	<a class="button fancy-button" [routerLink]="['/bggbyname']">
		<i class="material-icons">manage_search</i>
		<div class="nav-text">Search BGG by Name</div>
	</a>
	<a class="button fancy-button" [routerLink]="['/export']">
		<i class="material-icons">ios_share</i>
		<div class="nav-text">Export to CSV</div>
	</a>
</div>